
.slick-dots {
    position: absolute;
    bottom: 30px;
    
}

.slick-dots li button:before {
    color: white !important;
    font-size: 15px !important;
    margin-top: 10px;

}

.slick-dots li.slick-active button:before {
    color: rgb(54, 69, 241) !important;
}